.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

body {
  margin: 0px;
  text-align: center;
  color: #40514E;
  font-family: 'Tinos', serif;
  /*************margin:0;   can be done**********************/
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.7rem;
  color: #66bfbf;
}
.troll{
  float: right;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5 rem;
  color: #66bfbf;
  padding-bottom: 0.6rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.middle-container {
  margin: 100 0 100 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding-top: 50px;
  padding-bottom: 20px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 80px;
}

.jatin {
  border-radius: 100%;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-left: .6rem;
  margin-right: .6rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.normal {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.caution {
  width: 25%;
  float: left;
}

.pytho {
  width: 25%;
  float: right;
  margin-left: 5%;
}

.developer {
  width: 50%;
  float: left;
  margin-right: 5%;
}

.intro {
  width: 37%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border: dotted ##570466 .33rem;
  border-bottom: none;
  width: 4%;
  margin: 6rem auto;
}

.contact-me {
  width: 60%;
  margin: 2.5rem auto 3.75rem;
}

.mountain {
  height: 27.4rem;
}

.testbutton {
  font-family: 'Tinos', serif;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top, #11CCDD, #11999E);
  background: -ms-linear-gradient(top, #11CCDD, #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CCDD), to(#11999E));
  background: -moz-linear-gradient(top, #11CCDD, #11999E);
  text-decoration: none;
}

.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top, #30E3CB, #2BC4AD);
  background: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 1.25rem 0rem;
}
